* {
    font-family: "Verdana", "Tahoma", sans-serif;
    color: #050505;
}

h1 {
    font-weight: bold;
    background-image: linear-gradient(110deg, #cf3e11, #ec8f04);
    color: whitesmoke;
    text-indent: 1%;
    box-shadow: 0px 2px 2px black;
}

h3 {
    font-weight: bold;
    color: #cf3e11;
    text-shadow: 0px 1px 1px #ec8f04;
}

img {
    height: auto;
    width: 500px;
    border: 5px solid whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 2px 2px black;
}